<div class='absolute transform -translate-x-1/2  left-1/2 top-4' data-turbo-cache="false">
  <% flash.each do |type, message| %>
    <div class="<%= flash_class(type) %> p-4 mb-4 text-sm rounded-lg" role="alert">
      <%= message %>
    </div>
  <% end %>
</div>